Dobrý den,<br>
<br>
zasíláme potvrzení o přijetí Vaší platby v hodnotě {$amount} Kč za rezervaci ubytování.<br>
<br>
Těšíme se na Vaši návštěvu!<br>
<br>
S pozdravem,<br>
<br>
Restaurace a penzion U Tetřeva.<br>