Dobrý den,<br>
<br>
zasíláme Vám potvrzení o přijetí celé částky za ubytování v hodnotě {$amount} Kč včetně všech záloh.<br>
<br>
Děkujeme, že jste si vybrali náš penzion a těšíme se na Vaši návštěvu!<br>
<br>
S pozdravem,<br>
<br>
Restaurace a penzion U Tetřeva<br>