Dobrý den,<br>
<br>
potvrzujeme vaší rezervaci stolu v naší restauraci dne {$date|date: 'd.m.Y'} v čase {$time}.<br>
<br>
Těšíme se na vaši návštěvu!<br>
s pozdravem Restaurace a pension u Tetřeva<br>