Dobrý den,<br>
<br>
Obdrželi jsme platbu za voucher.<br>
<br>
Číslo voucheru: <strong>{$Code}</strong><br>
Hodnota voucheru: <strong>{$Amount} Kč</strong><br>
<br>
Níže naleznete v příloze voucher ve formátu PDF<br>
<br>
S pozdravem,<br>
Restaurace a Pension u Tetřeva