Dobrý den,<br><br>
zasíláme informace, jak zaplatit voucher.<br>
<br>
Pro zaplacení voucheru převodem na účet použijte tyto údaje:<br>
<br>
Číslo účtu: 2161122163/0800<br>
IBAN: CZ56 0800 0000 0021 6112 2163<br>
BIC/SWIFT: GIBACZPX<br>
Částku: {$Amount} Kč<br>
Variabilná symbol: {$Vs}<br>
Poznámka pro příjemce: {$First} {$Second}<br>
----------------------------------------------------------------------<br>
<br>
Po připsání částky na náš účet Vám zašleme voucher na Váš email.<br><br>
Děkujeme za Vaši objednávku a těšíme se na Vaši návštěvu.<br><br>
S pozdravem<br>
Restaurace a Pension u Tetřeva<br>