Guten Tag,<br>
<br>
wir senden Ihnen hiermit die Bestätigung über den Eingang Ihrer Zahlung in Höhe von {$amount} CZK für die Buchung Ihrer Unterkunft.<br>
<br>
Wir freuen uns auf Ihren Besuch!<br>
<br>
Mit freundlichen Grüßen<br>
<br>
Restaurant und Pension U Tetřeva.<br>