Guten Tag,<br>
<br>
wir senden Ihnen hiermit die Bestätigung über den Eingang des gesamten Betrags für die Unterkunft in Höhe von {$amount} CZK einschließlich aller Vorauszahlungen.<br>
<br>
Vielen Dank, dass Sie sich für unsere Pension entschieden haben. Wir freuen uns auf Ihren Besuch!<br>
<br>
Mit freundlichen Grüßen<br>
<br>
Restaurant und Pension U Tetřeva<br>