Guten Tag,<br>
<br>
wir bestätigen Ihre Tischreservierung in unserem Restaurant am {$date|date: 'd.m.Y'} um {$time}.<br>
<br>
Wir freuen uns auf Ihren Besuch!<br>
Mit freundlichen Grüßen Restaurant und Pension u Tetřeva<br>