Guten Tag,<br>
<br>
Wir haben die Zahlung für den Gutschein erhalten.<br>
<br>
Gutscheinnummer: <strong>{$Code}</strong><br>
Gutscheinwert: <strong>{$Amount} Kč</strong><br>
<br>
Anbei finden Sie den Gutschein im PDF-Format. <br>
<br>
Mit freundlichen Grüßen<br>
<br>
Restaurant und Pension u Tetřeva