Guten Tag,<br><br>
wir senden Ihnen Informationen zur Bezahlung des Gutscheins.<br>
<br>
Für die Bezahlung des Gutscheins per Überweisung verwenden Sie bitte folgende Daten:<br>
<br>
Kontonummer: 2161122163/0800<br>
IBAN: CZ56 0800 0000 0021 6112 2163<br>
BIC/SWIFT: GIBACZPX<br>
Betrag: {$Amount} Kč<br>
Variabler Symbol: {$Vs}<br>
Verwendungszweck: {$First} {$Second}<br>
----------------------------------------------------------------------<br>
<br>
Sobald der Betrag auf unserem Konto eingegangen ist, senden wir Ihnen einen Gutschein per E-Mail zu.<br><br>
Vielen Dank für Ihre Bestellung und wir freuen uns auf Ihren Besuch.<br><br>
Mit freundlichen Grüßen<br>
Restaurant und Pension u Tetřeva<br>