node_modules
www/assets
config
vendor
style
script
log
bin
assets
.htaccess
composer.json
composer.lock
package.json
package-lock.json
phpstan.neon
readme.md
vite.config
webpack-config-js.js
webpack-config-css.js
webpack-config-admin-css.js