<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Antonín Zelený">
    <link rel="stylesheet" href="{$basePath}/css/{$css}.css?v={$currVer}">
    <script src="https://unpkg.com/naja@2/dist/Naja.min.js"></script>
    <script src="{$basePath}/js/{if isset($js)}{$js}{else}master{/if}.js?v={$currVer}" defer></script>
    <title>U Tetreva - Front</title>
    <script>

    </script>
</head>
<body>
<div>
    {control navbar}
    {block content}
    {/block}
    {control footer}
</div>
</body>
</html>
