<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="Antonín Zelený">
    <link rel="stylesheet" href="{$basePath}/css/{$css}.css">
    <script src="{$basePath}/js/{if isset($js)}{$js}{else}master{/if}.js" defer></script>
    <title>Příhlášení</title>
    <meta name="theme-color" content="#15D6A2">
</head>
<body>
<div>
		{block content}{/block}
</div>
</body>
</html>
