<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="Antonín Zelený">
    <meta name="description" content="Zažijte dovolenou snů v Dominikánské republice – ubytování, aktivity a přírodní krásy s Matodo.">
    <meta property="og:title" content="Dovolená v Dominikánské republice – Matodo">
    <meta property="og:description" content="Zažijte tropické dobrodružství s Matodo.">
    <meta property="og:image" content="/img/share.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="{$basePath}/css/{$css}.css">
    <script src="{$basePath}/js/{if isset($js)}{$js}{else}master{/if}.js" defer></script>
    <title>Dovolená v Dominikánské republice – Matodo zážitky & ubytování</title>
    <meta name="theme-color" content="#15D6A2">
</head>
<body>
<div>
		{block content}{/block}
</div>
</body>
</html>
