{var $css = "gallery"}
{var $title = "Galerie | Restaurace a Pension U Tetřeva Kladská – interiéry, pokoje a okolí"}
{var $description="Nahlédněte do fotogalerie Restaurace a Pensionu U Tetřeva na Kladské. Objevte útulné interiéry, pohodlné pokoje, domácí kuchyni i kouzelnou přírodu Slavkovského lesa"}
{var $keywords = "fotogalerie, restaurace U Tetřeva, pension U Tetřeva, Kladská, Mariánské Lázně, příroda Slavkovský les"}
{block content}
<section class="gallery">
    <h1>{_'ui.gallery.title'}</h1>
    <p>{_'ui.gallery.subtitle'}</p>
    <article>
        <h2>{_'ui.gallery.restaurace'}</h2>
        <ul>
            {foreach $restaurant as $image}
                <li>
                    <figure>
                        <a href="{$basePath}/gallery/{$image->images}">
                            <picture>
                                <source srcset="{$basePath}/gallery/{$image->images}" type="image/webp">
                                <img src="{$basePath}/gallery/{$image->images}"
                                alt="{$image->title}"
                                loading="lazy"
                                decoding="async"
                                >
                            </picture>
                        </a>
                        <figcaption>{$image->title}</figcaption>
                    </figure>
                </li>
            {/foreach}
        </ul>
        <h2>{_'ui.gallery.pension'}</h2>
        <ul>
            {foreach $pension as $image}
                <li>
                    <figure>
                        <a href="{$basePath}/gallery/{$image->images}">
                            <picture>
                                <source srcset="{$basePath}/gallery/{$image->images}" type="image/webp">
                                <img src="{$basePath}/gallery/{$image->images}"
                                     alt="{$image->title}"
                                     loading="lazy"
                                     decoding="async"
                                >
                            </picture>
                        </a>
                        <figcaption>{$image->title}</figcaption>
                    </figure>
                </li>
            {/foreach}
        </ul>
        <h2>{_'ui.gallery.kladska'}</h2>
        <ul>
            {foreach $kladska as $image}
                <li>
                    <figure>
                        <a href="{$basePath}/gallery/{$image->images}">
                            <picture>
                                <source srcset="{$basePath}/gallery/{$image->images}" type="image/webp">
                                <img src="{$basePath}/gallery/{$image->images}"
                                     alt="{$image->title}"
                                     loading="lazy"
                                     decoding="async"
                                >
                            </picture>
                        </a>
                        <figcaption>{$image->title}</figcaption>
                    </figure>
                </li>
            {/foreach}
        </ul>
    </article>
</section>
