{var $css = "menu"}
{var $title = "Jídelní lístek | Restaurace U Tetřeva Kladská – zvěřinové speciality a česká kuchyně"}
{var $description = "Prohlédněte si aktuální jídelní lístek Restaurace U Tetřeva na Kladské u Mariánských Lázní. Nabízíme zvěřinové speciality, čerstvé ryby, tradiční českou kuchyni i lehké saláty a domácí dezerty – vše připravené z kvalitních surovin."}
{var $keywords = "jídelní lístek, menu, restaurace U Tetřeva, zvěřinové speciality, česká kuchyně, Kladská"}
{block content}
    <section class="menu">
        <header class="menu__header">
            <h1>{_'ui.menu.menu'}</h1>
            <p>{_'ui.food.subtitleMenu'}</p>
            <ul n:snippet="menuTabs">
                <li>
                    <a n:href="changeCategory! predkrmy"
               n:class="$selectedCategory === 'predkrmy' ? 'menu__active ajax' : 'ajax'">{_'ui.food.navigation.starters'}</a>
                </li>
                <li>
                    <a n:href="changeCategory! hlavni"
               n:class="$selectedCategory === 'hlavni' ? 'menu__active ajax' : 'ajax'">{_'ui.food.navigation.mains'}</a>
                </li>
                <li>
                    <a n:href="changeCategory! dezerty"
               n:class="$selectedCategory === 'dezerty' ? 'menu__active ajax' : 'ajax'">{_'ui.food.navigation.desserts'}</a>
                </li>
                <li>
                    <a n:href="changeCategory! napoje"
               n:class="$selectedCategory === 'napoje' ? 'menu__active ajax' : 'ajax'">{_'ui.food.navigation.drinks'}</a>
                </li>
            </ul>
        </header>
        <article>
            <div n:snippet="menuContent">
                {var $prop = $locale === 'cs' ? 'Name_cs' : 'Name_' . $locale}
            {var $propDesc = $locale === 'cs' ? 'Description_cs' : 'Description_' . $locale}
                {foreach $menuItems as $item}
                    <div class="menu__item">
                        <h2>{$item[$prop] ?? $item->Name_cs}</h2>
                        <p>{$item[$propDesc] ?? $item->Description_cs}</p>
                        <span class="menu__price">{$item->Price}{_'ui.common.currency'}</span>
                    </div>
                {/foreach}
            </div>
        </article>
    </section>
{/block}
