Hello,<br>
<br>
We confirm your table reservation at our restaurant on {$date|date: 'd.m.Y'} at {$time}.<br>
<br>
We look forward to seeing you!<br>
Best regards, Restaurant and Pension U Tetřeva<br>