Hello,<br><br>
We are sending you information on how to pay for your voucher.<br>
<br>
To pay for your voucher by bank transfer, please use the following details:<br>
<br>
Account number: 2161122163/0800<br>
IBAN: CZ56 0800 0000 0021 6112 2163<br>
BIC/SWIFT: GIBACZPX<br>
Amount: {$Amount} CZK<br>
Variable symbol: {$Vs}<br>
Note for recipient: {$First} {$Second}<br>
----------------------------------------------------------------------<br>
<br>
Once the amount has been credited to our account, we will send a voucher to your email address.<br><br>
Thank you for your order and we look forward to your visit.<br><br>
Best regards<br>
Restaurace a Pension u Tetřeva<br>