Hello,<br>
<br>
We have received payment for the voucher.<br>
<br>
Voucher number: <strong>{$Code}</strong><br>
Voucher value: <strong>{$Amount} CZK</strong>
<br>
Please find the voucher attached below in PDF format.
<br>
Best regards,
Restaurace a Pension u Tetřeva