extensions:
    translation: Contributte\Translation\DI\TranslationExtension

translation:
    locales:
        whitelist: [cs, en, ru, de]
        default: cs
        fallback: [en]

    dirs:
        - %appDir%/Lang
    returnOriginalMessage: true
    localeResolvers:
        - Contributte\Translation\LocalesResolvers\Router
        - Contributte\Translation\LocalesResolvers\Session
        - Contributte\Translation\LocalesResolvers\Parameter

parameters:

application:
	errorPresenter: Error:Error
	mapping:
	    Admin: App\Admin\UI\*\**Presenter
	    Front: App\Front\UI\*\**Presenter


latte:
	strictTypes: yes
	strictParsing: yes

database:
    dsn: 'mysql:host=localhost:3306;dbname=utetreva'
    user: 'root'
    password: ''


di:
	export:
		parameters: no
		tags: no

mail:
    smtp: true
    host: 127.0.0.1
    port: 25
    username: ''
    password: ''
    secure: null