Hello,<br>
<br>
We are sending you confirmation of receipt of your payment in the amount of {$amount} CZK for your accommodation reservation.<br>
<br>
We look forward to your visit!<br>
<br>
Best regards,<br>
<br>
Restaurant and Pension U Tetřeva.<br>