Hello,<br>
<br>
We are sending you confirmation of receipt of the full amount for accommodation in the amount of {$amount} CZK, including all deposits.<br>
<br>
Thank you for choosing our guesthouse and we look forward to your visit!<br>
<br>
Best regards,<br>
<br>
Restaurant and Pension U Tetřeva.<br>